

.imagen_portada{
  height: 100vh;
}

.imagenfondo{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.container{
  color:black;
}

body{
 background: white;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 background-attachment: fixed;
 margin: 0;
 font-family: 'Fenix', serif;
 color: black;
}

